{{ form_start(form) }}
<div class="row">
    <div class="col-8">
        {{ form_row(form.duckname) }}
    </div>
    <div class="col-4 d-flex justify-content-end">
        {{ form_row(form.search) }}
    </div>
</div>
{{ form_end(form) }}