{% extends 'base.html.twig' %}

{% block title %}New Ducks{% endblock %}

{% block body %}
    <h1>Create new Ducks</h1>

    {{ include('ducks/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('home') }}">home</a>
{% endblock %}
