{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <h1 class="my-5">Bienvenue sur votre Compte !</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
